* {
    margin: 0;
    padding: 0; /* alec recommendation*/
    font-family: Arial, Helvetica, sans-serif;
}
[data-theme="light"] {
    --color-bg: #ffffff;
    --color-fg: #000000;
    --title-bg: #202020;
    --column-bg: #f0f0f0;
    --midColumn-bg: white; 
    --addButton-bg: lightgreen; 
    --moveButton-fg: gray;
    /* detail for light mode should be fine */
}
  
  [data-theme="dark"] {
    --color-bg: #000000;
    --color-fg: #ffffff;
    --title-bg: rgb(72, 72, 72);
    --column-bg: #636363;
    --midColumn-bg: rgb(154, 151, 151);
    --addButton-bg: rgb(0, 113, 0);
    --moveButton-fg: white;
    /* add extra detail for dark mode*/
}

body {
    display: flex; /* default flex is row */
    flex-direction: column;
    height: 100vh;
    background-color: var(--color-bg);
    color: var(--color-fg);
}
  
header {
    background-color: var(--title-bg);
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: space-between; /* aligns title and add card across vertical*/
    /* align-items: center; aligns title and addcard across horizontal */
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: .5rem; /* may have to revisit 2.e */
    /* color picker is taller than everything else*/
    padding-bottom: .5rem;
}
h1 {
    font-size: x-large;
}
@media screen and (max-width: 800px) {
    h1 {
        font-size: medium;
    }
    header {
        
        flex-direction: column;
    }
    #addCard input[type="text"] {
        width: 10em;
    }
}
#addCard {
    display: flex;
    max-width: 100%;
}
#addCard input[type="text"] {
    margin-right: 0.5rem; /* Add spacing between form elements */
    width: 20em;
}

#addCard input[type="color"] {
    margin-right: 0.5rem; /* Add spacing between form elements */
    width: 8em;
}
#addCard button[type="submit"] {
    background-color: var(--addButton-bg);
    color: black;
    padding: .25rem 1rem .25rem 1rem;
    margin-right: .5rem;
}
#board {
    display: flex;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
    flex: 1; /* extends board all the way down */
}

.column {
    display: flex;
    flex: 1;
    min-height: 100%;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-bottom: 3rem;
    width: 30%; /*fixes the width to not expand during large word */
    flex-direction: column; /* stack items vertically */
    word-wrap: break-word; /* Ensure long words break and wrap */

}
.columnTitle {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem; /* There is 1rem of vertical spacing between each element in a column.*/
    /* There is no additional spacing at the top of the card (above the title).*/
}
#todo { /* column specific */
    background-color: var(--column-bg);
}
#doing {
    background-color: var(--midColumn-bg);
}
#done {
    background-color: var(--column-bg);
}
.card {
    /* flex: 1; prob remove b/c fills up column entirely */
    margin-bottom: 1rem;
    padding: .5rem;
    border-radius: .5rem;
    position: relative;
}
.buttons {
    display: none;
    position:absolute;
    top: .5rem;
    right: .5rem;
}
.card:hover .buttons {
    display: block;
}
.moveHere { /* for - move here - button*/
    height: 1rem;
    color: var(--moveButton-fg);
    margin-bottom: 1rem;
}

.dragging {
    border: solid;
    border-width: 2px;
    border-color: black;
    
}
.ghost.invisible {
    display: none;
}
.drag-over {
    background-color: aqua;
}